<template>
    <div :class="$style.el">
        <div v-show="enabled"
            class="wrapper">
            <div class="wrapper__inner">
                <div v-for="column in columns"
                    :key="column"
                    :class="$style.line"></div>
            </div>
        </div>
        <button :class="$style.button"
            type="button"
            @click="toggle">
            <GridSvg />
        </button>
    </div>
</template>

<script>
import GridSvg from './GridSvg';

const storageKey = '_APP_GRID_ENABLED';

export default {
    props: {
        columns: {
            type: Number,
            default: 14,
        },
    },

    components: {
        GridSvg,
    },

    data() {
        return {
            enabled: false,
        };
    },

    created() {
        this.enabled = Boolean(localStorage.getItem(storageKey));
    },

    methods: {
        toggle() {
            this.enabled = !this.enabled;
            localStorage.setItem(storageKey, this.enabled ? '1' : '0');
        },
    },
};
</script>

<style lang="scss"
    module>
$color: rgba(#00ffff, 0.7);

.el {
    display: flex;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    justify-content: space-between;

    :global {
        .wrapper {
            width: 100%;
        }

        .wrapper__inner {
            display: flex;
            height: 100%;
        }
    }
}

.line {
    border-right: 1px solid $color;
    width: grid-calc(1);
    height: 100%;

    &:first-child {
        border-left: 1px solid $color;
    }
}

.button {
    background-color: transparent;
    border: 0;
    bottom: 20px;
    font-size: 10px;
    left: 0;
    pointer-events: auto;
    position: fixed;

    svg {
        fill: $color;
        height: 20px;
        width: 20px;
    }
}
</style>
