<template>
    <!-- eslint-disable -->
    <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <path d="M18.029,6.01V1.971H13.99V6.01Zm0,6.009V7.981H13.99v4.038Zm0,6.01V13.99H13.99v4.039ZM12.019,6.01V1.971H7.981V6.01Zm0,6.009V7.981H7.981v4.038Zm0,6.01V13.99H7.981v4.039ZM6.01,6.01V1.971H1.971V6.01Zm0,6.009V7.981H1.971v4.038Zm0,6.01V13.99H1.971v4.039ZM18.029,0A1.983,1.983,0,0,1,20,1.971V18.029A1.983,1.983,0,0,1,18.029,20H1.971A1.983,1.983,0,0,1,0,18.029V1.971A1.983,1.983,0,0,1,1.971,0Z" />
    </svg>
</template>
